object {
    width: 75%;
    height: 75%;
}

.vertical-align-col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.csm-header{
    font-size: 1.25rem;
    font-family: 'Mukta', sans-serif;
}

.welcome-msg{
    color: #6C34D4;
}