<div class="container-fluid rounded m-4">
    <div class="row">
        <div class="col-md-6 vertical-align-col">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="welcome-msg mb-4 p-4 rounded-pill">
                    <h1>¡Bienvenido {{myProfile.Nombres}} {{myProfile.Apellidos}}!</h1>
                </div>
                <object class="m-4" data="../../../assets/welcome.svg"> </object>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card rounded shadow-sm">
                <div class="card-body text-center">
                    <p class="csm-header"><i class="fas fa-money-bill-alt"></i> Saldo Disponible:</p>
                    <p class="csm-header">Q {{myProfile.Saldo}}</p>
                    <hr>
                    <p class="csm-header"><i class="fas fa-wallet"></i> Numero de cuenta: </p>
                    <p class="fs-1">{{myProfile.Cuenta}}</p>
                    <hr>
                    <p class="csm-header"><i class="fas fa-envelope"></i> Correo Electronico:</p>
                    <p class="fs-1">{{myProfile.Correo}}</p>
                    <hr>
                    <p class="csm-header"><i class="fas fa-id-card"></i> DPI:</p>
                    <p class="fs-1">{{myProfile.DPI}}</p>
                </div>
            </div>
        </div>
    </div>
</div>