<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/brandlogo.png" width="125px" height="75px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="!logged">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"><i class="fas fa-sign-in-alt"></i>
              Login</a>
          </li>
        </ng-container>
        <ng-container *ngIf="logged">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"><i class="fas fa-home"></i> Home</a>
          </li>
        </ng-container>
        <ng-container *ngIf="logged">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/transferdata"><i class="fas fa-comments-dollar"></i>
              Transferencia</a>
          </li>
        </ng-container>
        <ng-container *ngIf="logged">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="onClickDownloadPdf()"><i class="fas fa-chart-line"></i> Reporte</a>
          </li>
        </ng-container>
        <ng-container *ngIf="logged">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="logout()"><i class="fas fa-sign-out-alt"></i>
              Signout</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>