<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1>Nueva Transferencia</h1>
                </div>
                <div class="card-body">
                   <ng-container *ngIf="!validAccountNumber">
                    <form novalidate [formGroup]="formAccount" (ngSubmit)="validateAccount()">
                        <div class="row pb-4">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <label for="nocuentadestino" class="form-label">Numero de cuenta de destino:</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="nocuentadestino" id="nocuentadestino" class="form-control" placeholder="Numero de cuenta destino" formControlName="nocuentadestino">
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="formAccount.get('nocuentadestino').errors?.required">
                                  <strong>Por favor, introduzca una cuenta de destino.</strong>
                                </span>
                              </div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-primary btn-block rounded">Verificar cuenta destino</button>
                            </div>
                        </div>
                    </form>
                   </ng-container>
                    <hr>
                    <form novalidate [formGroup]="formTransfer" (ngSubmit)="sendTransfer()">
                        <div class="row pb-4">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <label for="monto" class="form-label">Monto de la transferencia</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="number" name="monto" id="monto" class="form-control" placeholder="Monto" formControlName="monto">
                            </div>
                            <ng-container *ngIf="validAccountNumber">
                                <div class="col-md-4">
                                    <button class="btn btn-success btn-block rounded" >Enviar transferencia</button>
                                </div>
                            </ng-container>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>