object {
    width: 75%;
    height: 75%;
}

.container-fluid {
    display: flex;
    align-items: center;
}

.login-title {
    color: whitesmoke;
    font-size: 1rem;
}

.vertical-align-col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}


