<div class="container-fluid border border-3 rounded m-4 p-4 ">
  <div class="row">
    <div class="col-md-6 vertical-align-col">
      <object data="../../../assets/login.svg"> </object>
    </div>
    <div class="col-md-6">
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label class="form-label" for="numerocuenta"><i class="fas fa-file-invoice"></i> Calificacion </label>
          <input type="text" class="form-control" name="nocuenta" id="nocuenta" aria-describedby="nocuenta"
            formControlName="nocuenta" placeholder="Ingresa tu numero de cuenta">

          <div class="invalid-feedback">
            <span *ngIf="loginForm.get('nocuenta').errors?.required">
              <strong>Por favor, introduzca un email.</strong>
            </span>
            <span *ngIf="loginForm.get('nocuenta').errors?.pattern">
              <strong>Correo electronico no valido.</strong>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="exampleInputPassword1"><i class="fas fa-lock"></i> Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Ingresa tu password"
            formControlName="password">
          <div class="invalid-feedback">
            <span *ngIf="loginForm.get('password').errors?.required">
              <strong>Por favor, introduzca un password.</strong>
            </span>
          </div>
        </div>
        <div class="row">
          <hr>
          <a routerLink="/register">¿Aun no te has registrado?</a>
          <hr>
        </div>
        <button type="submit" class="btn btn-success btn-block" >Sign in <i class="fas fa-arrow-right"></i></button>
        <hr>
      </form>
    </div>
  </div>
</div>