<div class="container-fluid p-4 mt-4">
    <div class="card  rounded p-4">
        <div class="card-header text-center">
            <h1><i class="fas fa-user-plus"></i> Registro</h1>
        </div>
        <div class="card-body">
            <form class="row g-3"  novalidate [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="col-md-6 p-2">
                    <label for="nombres" class="form-label"><i class="fas fa-user"></i> Nombres</label>
                    <input type="text" class="form-control" id="nombres" formControlName="nombres" placeholder="Nombres">
                </div>
                <div class="col-md-6 p-2">
                    <label for="apellidos" class="form-label"><i class="fas fa-id-card-alt"></i> Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Apellidos">
                </div>
                <div class="col-md-12 p-2">
                    <label for="dpi" class="form-label"><i class="fas fa-id-card"></i> DPI</label>
                    <input type="number" class="form-control" id="dpi" formControlName="dpi" placeholder="DPI">
                </div>
                <div class="col-md-6 p-2">
                    <label for="saldoinicial" class="form-label"><i class="fas fa-money-bill"></i> Saldo inicial de la cuenta</label>
                    <input class="form-control" type="number" id="saldoinicial" formControlName="saldoinicial" placeholder="Saldo inicial">
                </div>
                <div class="col-md-6 p-2">
                    <label for="correo" class="form-label"><i class="fas fa-envelope"></i> Correo electronico</label>
                    <input class="form-control" type="email" id="correo" formControlName="correo" placeholder="Correo electronico">
                </div>
                <div class="col-md-12 p-2">
                    <label for="contrasenia" class="form-label"><i class="fas fa-unlock"></i> Password</label>
                    <input class="form-control" type="password" id="contrasenia" formControlName="contrasenia" placeholder="Password">
                </div>
                <div class="col-12 pt-2">
                    <button type="submit" class="btn btn-success btn-block">Register <i class="fas fa-check"></i></button>
                </div>
                
            </form>
            
    </div>
</div>